Tim Rühsen <tim.ruehsen@gmx.de> Tim Ruehsen <tim.ruehsen@gmx.de>
Tim Rühsen <tim.ruehsen@gmx.de> rockdaboot <tim.ruehsen@gmx.de>
Darshit Shah <darnir@gnu.org> <darnir@gmail.com>
Darshit Shah <darnir@gnu.org> <darnir@reniac.com>
Ander Juaristi <ajuaristi@gmx.es> <a@juaristi.eus>
Ander Juaristi <ajuaristi@gmx.es> Ander Juaristi Alamos <ajuaristi@gmx.es>
Micah Cowan <micah@cowan.name> micah <devnull@localhost>
Steven Schubiger <stsc@members.fsf.org> Steven Schubiger <stsc@member.fsf.org>
Steven Schubiger <stsc@members.fsf.org> <schubiger@gmail.com>
Giuseppe Scrivano <gscrivano@gnu.org> <gscrivan@redhat.com>
Gisle Vanem <gisle.vanem@gmail.com> <gvanem@yahoo.no>
Gisle Vanem <gisle.vanem@gmail.com> <gvanem@broadpark.no>
Gisle Vanem <gisle.vanem@gmail.com> <giva@bgnett.no>
